@{
    ViewBag.Title = "Help";
}


<section>
    <div class="grid6">
        <span class="fr">
            <a href="#support">Support</a>
        </span>
    </div>
</section>

<section>
    <div class="grid6">
        <a name="support"></a><h2>Support</h2>

        <p>
            There is currently no online help for this website yet. If you experience any difficulties, please contact:

            <p>
                <strong>John Scott</strong>
                <a href="mailto:john.scott@epicgames.com?subject=Build System Frontend Support"><img class="icon" src="~/Content/Themes/Base/Images/iconOutlook.png" alt="IM" /></a>
                <a href="sip:john.scott@epicgames.com"><img class="icon" src="~/Content/Themes/Base/Images/iconLync.png" alt="Send Email" /></a>
            </p>

            <p>
                <strong>Max Preussner</strong>
                <a href="mailto:max.preussner@epicgames.com?subject=Build System Frontend Support"><img class="icon" src="~/Content/Themes/Base/Images/iconOutlook.png" alt="IM" /></a>
                <a href="sip:max.preussner@epicgames.com"><img class="icon" src="~/Content/Themes/Base/Images/iconLync.png" alt="Send Email" /></a>
            </p>
        </p>
    </div>
</section>