@model CISStatus.Models.GeneralViewModel

@section ScriptContent
{
<script type="text/javascript">

    var CurrentBranchName = "";

    function GetChangelists()
    {
        return ( $.ajax( 
        {
            url: "/CISStatus/GetChangelists",
            data: "CurrentBranchName=" + CurrentBranchName,
            async: false
        } ) );
    }

    function UpdateChangelistsView() 
    {
        var Changelists = GetChangelists().success( function () 
        {
            setTimeout( function () 
            {
                UpdateChangelistsView();
            }, 2000 );
        } );

        $( '#ChangesTable' ).html( Changelists.responseText );
    }

    $.ajaxSetup({
        // Disable caching of AJAX responses
        cache: false
    });

    $(document).ready(function () 
    {
        // Set the initial branch name passed in on the URL
        CurrentBranchName = $('#BranchName').val();

        // Mark the current branch as selected
        $( '#' + CurrentBranchName ).addClass( 'selected' );

        // If tab is clicked, update the page
        $( 'li' ).click( function ()
        {
            $( 'li' ).removeClass( 'selected' );

            CurrentBranchName = $( this ).attr( 'id' );
            $( this ).addClass( 'selected' );
            $( '#ChangesTable' ).html( GetChangelists().responseText );
        } );

        UpdateChangelistsView();

        $( 'li' ).mouseenter( function ()
        {
            $( this ).addClass( 'hover' );
        } );

        $( 'li' ).mouseleave( function ()
        {
            $( this ).removeClass( 'hover' );
        } );
    } );

</script>
}

<div id="tabs">
<b>
   @foreach( CISStatus.Controllers.BranchInfo Branch in Model.Branches )
   {
      <li id="@Branch.Name" class="unselected">@Branch.Name</li>
   }
</b>
</div>

<div id="ChangesTable">
    
</div>

<input type="hidden" id="BranchName" value="@Model.CurrentBranchInfo.Name" \>
