<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\DevWeb-02\Sites\BuilderFrontend</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/EntityFramework.dll">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/EpicGames.Tools.Builder.Frontend.dll">
      <publishTime>07/02/2012 11:26:52</publishTime>
    </File>
    <File Include="bin/EpicGames.Tools.Builder.Frontend.pdb">
      <publishTime>07/02/2012 11:26:52</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Json.dll">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Json.xml">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.dll">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.xml">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>06/29/2012 10:49:09</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>07/02/2012 11:12:25</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Content/Default.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/favicon.ico">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/btnBuild.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/btnCis.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/btnPromote.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/btnVerify.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/cross.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/dash.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/doc.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/email.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/iconLync.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/iconOutlook.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/logoEpic.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/placeholder.jpg">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/promote.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/query.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/query2.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/skull.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/spinner.gif">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/spinner2.gif">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/stop.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/tick.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/trigger.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/images/warning.png">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>07/02/2012 11:12:45</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2-vsdoc.js">
      <publishTime>03/22/2012 11:10:12</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.min.js">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1-vsdoc.js">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.js">
      <publishTime>06/29/2012 10:49:06</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.min.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.18.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.18.min.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/knockout.debug.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/knockout.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.5.3.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/Site.js">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Scripts/_references.js">
      <publishTime>07/02/2012 11:24:09</publishTime>
    </File>
    <File Include="Views/Build/Branch.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/BranchCommands.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/Changelist.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/Command.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/CommandDetails.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/CommandLog.cshtml">
      <publishTime>06/21/2012 13:18:49</publishTime>
    </File>
    <File Include="Views/Build/Failures.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/Infrastructure.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/InfrastructureList.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/Machine.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/MachineBuildLogs.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/MachineDetails.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/Promote.cshtml">
      <publishTime>05/10/2012 23:02:09</publishTime>
    </File>
    <File Include="Views/Build/Status.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/StatusCommands.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/UE4BuildTimes.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/_BranchCommand.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/_BranchCommandsEntry.cshtml">
      <publishTime>04/02/2012 18:09:28</publishTime>
    </File>
    <File Include="Views/Build/_ChangelistBuildLogEntry.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/_CommandBuildLogEntry.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/_MachineBuildLogEntry.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Build/_MachineCommand.cshtml">
      <publishTime>04/04/2012 00:53:38</publishTime>
    </File>
    <File Include="Views/Build/_PromoteLabel.cshtml">
      <publishTime>05/10/2012 22:13:57</publishTime>
    </File>
    <File Include="Views/Build/_StatusCommand.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Views/Cis/Branch.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Cis/BranchTasks.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Cis/Status.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Cis/StatusChangelists.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Home/Dashboard.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Home/Help.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Home/Profile.cshtml">
      <publishTime>04/11/2012 11:34:54</publishTime>
    </File>
    <File Include="Views/Home/Settings.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Home/UserProfile.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Home/_DashboardBuild.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Promote/Command.cshtml">
      <publishTime>07/02/2012 10:50:07</publishTime>
    </File>
    <File Include="Views/Promote/CommandLabels.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Promote/Labels.cshtml">
      <publishTime>05/15/2012 00:39:38</publishTime>
    </File>
    <File Include="Views/Promote/Status.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Promote/_PromoteLabel.cshtml">
      <publishTime>07/02/2012 11:29:40</publishTime>
    </File>
    <File Include="Views/Promote/_StatusCommand.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Shared/_CisTaskStateImage.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Shared/_MainMenu.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Shared/_Site.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Shared/_SystemMenu.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Swarm/Status.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Verify/Branch.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Verify/BranchCommands.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Verify/Status.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Verify/StatusCommands.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Verify/_BranchCommand.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Verify/_StatusCommand.cshtml">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>06/29/2012 10:49:08</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>06/29/2012 10:49:07</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/02/2012 11:26:52</publishTime>
    </File>
  </ItemGroup>
</Project>