@model EpicGames.Tools.Builder.Frontend.Models.CisStatusModel

@{
    ViewBag.Title = "Continuous Integration System";
    ViewBag.Description = "Current CIS Status";
}


<script type="text/javascript">
    function updateCommands() {
        var query = $.ajax({
            url: "@Url.RouteUrl(new { action = "StatusChangelists", controller = "Cis" })",
            async: false
        });
            
        query.success(
            function () {
                setTimeout(function () {
                    updateCommands();
                },
                5000);
            });

        $('#failures').html(query.responseText);
    }

    $(document).ready(function () {
        updateCommands();
    });
</script>


<section>
    <div class="grid6">
        <span class="linkBack">
            @Html.ActionLink("Dashboard", "Dashboard", "Home")
        </span>

        <span class="fr">
            <a href="#latest">Latest Changelists</a> |
            <a href="#pending">Pending Tasks</a> |
            <a href="#active">Active Branches</a> |
            <a href="#inactive">Inactive Branches</a>
        </span>
    </div>
</section>

<section id="failures"></section>

<section>
    <div class="grid3">
        <a name="active"></a><h2>Active Branches</h2>

        @if (Model.Branches.Count(b => (b.NumTasks.HasValue && (b.NumTasks.Value > 0))) > 0)
        {
            <p>The following branches are configured for continuous integration:</p>

            <table>
                <thead>
                    <th>Branch Name</th>
                    <th class="numeric">CIS Tasks</th>
                </thead>
                <tbody>
                    @foreach (var b in Model.Branches)
                    {
                        if (b.NumTasks.HasValue && (b.NumTasks > 0))
                        {
                            Html.RenderPartial("_Branch", b);
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <text>There are currently no inactive branches.</text>
        }
    </div>

    <div class="grid3">
        <a name="inactive"></a><h2>Inactive Branches</h2>

        @if (Model.Branches.Count(b => (!b.NumTasks.HasValue || (b.NumTasks.Value == 0))) > 0)
        {
            <p>The following branches do not use continuous integration:</p>
            
            <table>
                <thead>
                    <th>Branch Name</th>
                    <th></th>
                </thead>
                <tbody>
                    @foreach (var b in Model.Branches)
                    {
                        if (!b.NumTasks.HasValue || (b.NumTasks.Value == 0))
                        {
                            Html.RenderPartial("_Branch", b);
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <text>There are currently no inactive branches.</text>
        }

        <a class="linkUp" href="#top">Back to top</a>
    </div>
</section>