<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Builder.UnrealSyncService.Properties.Settings.BuilderConnectionString"
            connectionString="Data Source=db-09;Initial Catalog=Builder;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>