<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>

		<!-- Make sure that we don't "phone home" to verify digital signatures (can slow down startup time) -->
		<generatePublisherEvidence enabled="false"/>
		
		<!-- Set relative path to managed assembly DLL files for this configuration -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Editor/Release"/>
		</assemblyBinding>
		
	</runtime>
</configuration>