<ul class="mainMenu">
    <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
    <li>@Html.ActionLink("Settings", "Settings", "Home")</li>
    <li>@Html.ActionLink("Help", "Help", "Home")</li>
</ul>