/*// Copyright 1998-2013 Epic Games, Inc. All Rights Reserved.*/
/*---- for Bugg show.aspx ---- */

#CrashesShowContainer
{
	padding: 0 30px;
	width: 1400px;
	width: 1400px;
}

#CrashesShowContainer h2
{
	color:White;
	padding-left: 15px;
	padding-bottom: 0;
	margin-bottom: 0;
}

#CrashDataContainer
{
	background: #2e363f;
	float:left;
	width: 350px;
	height: 606px;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid #718698;
	border-bottom: 1px solid #718698;
}

.CrashDataTopLeft
{
	background: url('/Content/Images/CrashDataTopLeft.png') top left no-repeat;
}

.CrashDataTopRight
{
	background: url('/Content/Images/CrashDataTopRight.png') top right no-repeat;
}

#CrashDataBottomLeft
{
	background: url('/Content/Images/CrashDataTop.png') Bottom left no-repeat;
}
#CrashDataBottomLeft
{
	background: url('/Content/Images/CrashDataTop.png') bottom right no-repeat;
}

#CrashDataContainer dt, #CrashDataContainer dd 
{
	display: block;
	float: left;
	margin: 5px 0;
}

#CrashDataContainer dt 
{
	clear: both;
	width: 150px;
	font-weight: bold;
	padding-left: 5px;
	text-align:right;
	color: #718698;
	margin-left:10px;
}

#CrashDataContainer dd
{
	width: 140px;
	font-weight: normal;
	margin-left:1em;
	color: #C3CAD0;
}

#CrashDataContainer .even
{
	
}

#CallStackContainer
{
	float:right; 
	width:65%; 
	margin-right: 60px;
	padding: 20px;
}

#FormattedCallStackContainer,  #RawCallStackContainer
{
	background-color: #778A99;
	height: 100%;
	height: 300px;
	margin-top:15px;
}

#FormattedCallStackContainer p, #RawCallStackContainer p
{
	white-space:nowrap;
	overflow: scroll;
	overflow-x: scroll;
	overflow-y: no-scroll;
}

#RawCallStackContainer p
{
	padding-left: 10px;
}

.CrashViewTextBox
{
	width:100%;
	background-color: #758A98;
	margin-bottom: 10px;
	height:100%;
	background: #758A98 url('/Content/Images/CrashTextTopLeft.png') top left no-repeat;
}

.CrashViewTextBoxRight
{
	background: url('/Content/Images/CrashTextTopRight.png') top right no-repeat;
	padding-top: 10px;
}

.CrashViewTextBox p, .CrashViewTextBox tr
{
	background-color: #C3CAD0; 
	color: Black;
	height: 100%;
	border-top: thin solid black ;
	border-bottom: 1px solid #718698;   
}

.CrashViewTextBox p  span
{
	padding-left: 10px;
}

#CrashDescription
{

}

.CrashViewTextBox input
{
	display:none;
	width: 99.5%;
	height: 100%;
	height: 2em;
}

.EditButton
{
	color: Blue;
	cursor: pointer;
}

#SaveDescription
{
	display:none;
}

.CrashViewTextBox h3
{
	color: White;
	margin: 0px;
	padding: 0px;
	height: .5em;
	padding-left: 5px;
	padding-bottom:2px;
	width: 100%;
}

#ShowCrashSummary, #ShowCrashDescription, #ShowCommandLine
{
	height: 4em;
	margin-bottom: 40px;
	margin-top:20px;
}

#ShowCrashSummary p, #ShowCrashDescription p, #ShowCommandLine p
{
	height: 3em;
}

#CallStackContainer
{
	margin-top: 10px;
	padding:0;
}

#ShowCrashInfoContainer
{
	width: 100%;
	height: 100%;
}

.function-name 
{
	color: #000;
	font-weight:bold;
}

#FormatCallStack
{
	color: #C3CAD0;
}

.file-path
{
	font-style: italic;
}

.file-name
{
	color: #778A99;
	font-weight: bold;
}

.line-number
{
	color: Black;
}

#set-status
{

}

.submit
{
	height:22px;
	width:30px;
}

#set-ttp
{

}

#ttp-text-box
{
	height:15px;
	width:75px;
}

#set-fixed-in
{

}

#fixed-in-text-box
{
	height:15px;
	width:73px;
}

#SetBar
{
	color: White;
	width: 100%;
	height: 3em;
	padding-top: 20px;
}

#SetBar #SetInput
{
	padding-left: 31%;
}

#SetBar #SetForm
{
	padding: 0;
	margin: 1px 1px 1px 0;
}

#SetForm
{
	display: inline;
	font-size: 12px;
	margin-left: 20px; 
	vertical-align:Middle;
}

.set-status
{
	margin-left: 10px;
}

#SetForm input.form-submit, .SetButton
{
	height: 25px;
	width: 41px;
	border:none;
	cursor: pointer;
	background : url('/Content/Images/SetButtonGreen.png') no-repeat left top;
	color: White;
}

/*--- table data classes --*/
#CrashesTable
{
	table-layout:auto;
	width: auto;
	border-collapse:separate;
	border-top: none;
	border-bottom: 1px solid grey;
	table-layout:fixed;
	font-size: .8em;
	margin-top: 5px; 
	height: 1em;
	max-height: 1em;
}

#CrashesTable th
{
	background-color: #718698;
	border-bottom: medium solid black;
	Color: White;
	border-right: 1px solid grey;
	white-space: nowrap;
}

#CrashesTable a
{
	color: White;
	text-decoration: none;
}

#CrashesTable td a:hover
{
	text-decoration: underline;
}

#CrashesTable tr #SelectBar
{
	padding: 5px;
	background-color: #e8eef4;
	border: none;
}

.commandline
{
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	-ms-word-wrap: break-word;
}

#CrashesTable
{
	width: 100%;
}

#CrashesTable td
{
	border-left: 1px solid grey;
}

#CrashesTable td a
{
	Color: #5c87b2;
}

#CrashesTable td.Status
{
	border-right: 1px solid grey;
}

#CrashesTable tr
{
	background-color: #FEFEFE;
	border-right: 1px solid grey;
}

.TableData
{
}

.MoreCallStackBox, .LessCallStackBox
{
	cursor: pointer;
}

.Id
{
	font-size: 1.5em;
	font-weight: bold;
}

.Summary, .Description
{
	width: 100px;
	max-width: 120px;
}

.CallStack
{
	max-width:300px;
	width:300px;
}

.FullCallStackTrigger
{
	color: Black;
	font-weight: bold;
	position:relative;
	cursor:pointer;
}

.FullCallStackTrigger div
{
	cursor: text;
	display: none;
	background-color: #5c87b2;
}

.FullCallStackTrigger:hover div
{
	z-index: 500;
	color: Black;
	min-width: 400px; 
	top: 0; 
	left: 7.8em;
	border: thin solid black; 
	position: absolute;
	display: block;
	background-color: #D1D1D1;
	padding: 5px;
}

.CommandLine
{
	max-width:150px; 
	width: 150px;
	overflow: scroll;
	overflow-x: scroll;
}

.FunctionName
{

}

.LineNumber
{
	font-style:italic;
	color: #333;
}

.FileName
{
	color: #778A99;
	font-weight: bold;
}
