<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Builder.CISMonitor.Properties.Settings.BuilderConnectionString"
   connectionString="Data Source=engine-db;Initial Catalog=Builder;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CISMonitorService.Properties.Settings.BuilderConnectionString"
   connectionString="Data Source=engine-db;Initial Catalog=Builder;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CISMonitorService.Properties.Settings.BuilderConnectionString1"
   connectionString="Data Source=db-09;Initial Catalog=Builder;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>
</configuration>