<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UnrealProp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<UnrealProp.Properties.Settings>
			<setting name="CacheLocation" serializeAs="String">
				<value>d:\UnrealPropCache</value>
			</setting>
			<setting name="RemotableHost" serializeAs="String">
				<value>tcp://prop-06:9090/UPMS</value>
			</setting>
			<setting name="CacheSizeGB" serializeAs="String">
				<value>200</value>
			</setting>
		</UnrealProp.Properties.Settings>
		</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>
</configuration>
